body {
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3 {
  margin: 0.5rem;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.row.center {
  align-items: center;
}
.img{
width:15px;
}
img.small {
  max-height: 8rem;

}

button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove {
  background-color: #f04040;
  width: 1.5rem;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.4rem;
  border-radius: 50%;
  position: relative;
  top: -12px;
    right: 12px;
    font-size: 11px;
}
.text-right {
  text-align: right;
}
